<!--suppress CssUnknownTarget -->
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - ECMG Reports</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% block head %}{% endblock %}
    <style>
        html {
            font-family: Arial, serif;
        }
    </style>
</head>
<nav class="flex items-center p-3 w-full absolute top-0 bg-black bg-opacity-90 text-gray-200">
    <div class="font-semibold flex-1 text-xl">ECMG Reports</div>
    <a href="#" class="text-md">login</a>
</nav>

<body class="antialiased overscroll-none text-gray-900">
{% block content %}
{% endblock %}
</body>

<footer class="px-2 w-full absolute bottom-0 bg-black bg-opacity-90 text-gray-300 text-right font-medium">
    v1.2
</footer>
</html>